#ros
build/
log/
install/

# Python cache
*.pyc
__pycache__/
*.egg-info/

# Environment Variables / Secrets
.env
*.env
*.json
src/cobot1/config/*.json

# OS specific
.DS_Store

# VS Code 환경 파일 무시
.vscode/
.vscode/colcon.env
**/.vscode/